// USER VARIABLES SECTION

$accent: #FFA25C // Accent Color
$accentLinearGradient: linear-gradient(180deg, #FFC87A 0%, #FF9E59 100%) // Accent Linear Gradient
$bgColor: #0A0A0A // Main Background Color
$fontsize: 16px // Body Font Size
$textcolor: #ffffff // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif // System Font Family
$gilroy: Gilroy, sans-serif // Roboto Font Family

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 30px
$gutter: $grid-gutter-width

// IMPORT SECTION

@import 'node_modules/bootstrap/scss/bootstrap-reboot.scss' // Bootstrap Reboot collection
@import 'node_modules/bootstrap/scss/mixins/_breakpoints.scss' // Bootstrap Breakpoints mixin
@import 'node_modules/bootstrap/scss/bootstrap-grid.scss' // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss' // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl)
	@font-face
		font-family: $fname
		font-style: $fstyle
		font-weight: $fweight
		// font-display: swap // Uncomment to initially display system fonts
		src: local($fname), url($furl) format('woff2')

@include font('Gilroy', normal, 400, '../fonts/GilroyRegular.woff2')
@include font('Gilroy', normal, 500, '../fonts/GilroyMedium.woff2')
@include font('Gilroy', normal, 600, '../fonts/GilroySemiBold.woff2')
@include font('Gilroy', normal, 700, '../fonts/GilroyBold.woff2')
@include font('Gilroy', normal, 800, '../fonts/GilroyBlack.woff2')
@include font('Gilroy', normal, 900, '../fonts/GilroyExtraBold.woff2')

// GENERAL DOCUMENT STYLES

::placeholder
	color: #666

::selection
	background-color: $accent
	color: #fff

input, textarea
	outline: none
	&:focus:required:invalid
		border-color: red
	&:required:valid
		border-color: green

body
	font-family: $gilroy
	font-size: $fontsize
	min-width: 320px
	position: relative
	line-height: 1.65
	overflow-x: hidden
	color: $textcolor
	background: $bgColor
